$main-text-color: rgba(255, 255, 255, 1);
$main-2-text-color: rgba(255, 255, 255, 0.8);
$theme-main-color: rgba(16, 120, 215, 1);
$grey-text-color:rgba(89, 91, 100, 1);
$grey-2-text-color: rgba(255, 255, 255, 0.29);

.main-button-style {
  border: none;
  background-color: $theme-main-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  font-weight: 500;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
  &:hover {
    background-color: $theme-main-color;
  }
}